# Copyright 2022 HNU
# SPDX-License-Identifier: Apache-2.0

choice
prompt "Rockchip RK3568 Selection"
depends on SOC_SERIES_RK356X

config SOC_RK3568
	bool "Rockchip rk3568"
	select ARM64
	select CPU_CORTEX_A55
	select ARM_ARCH_TIMER
	select GIC_V3
	select CLOCK_CONTROL_RK3568_CRU
	select HAS_ARM_VHE_EXTN

endchoice


if SOC_RK3568

config SOC_PART_NUMBER_ROCRK3568PC
	bool

config SOC_PART_NUMBER
	string
	default "RK3568" if SOC_PART_NUMBER_ROCRK3568PC
	help
	  This string holds the full part number of the SoC. It is a hidden option
	  that you should not set directly. The part number selection choice defines
	  the default value for this string.

endif
