# SPDX-License-Identifier: Apache-2.0

# Platform Configuration
CONFIG_SOC_SERIES_RK3568=y
CONFIG_SOC_RK3568=y
CONFIG_BOARD_ROC_RK3568_PC=y

# SMP support
CONFIG_SMP=n
CONFIG_ARMV8_A_NS=y
CONFIG_MP_NUM_CPUS=1
CONFIG_TIMEOUT_64BIT=y
CONFIG_CACHE_MANAGEMENT=y

# PSCI is supported
CONFIG_PM=y
CONFIG_PM_CPU_OPS=y
CONFIG_PM_CPU_OPS_PSCI=y

# Enable Timer and Sys clock
CONFIG_ARM_ARCH_TIMER=y
CONFIG_CLOCK_CONTROL=y

# Serial Drivers
CONFIG_SERIAL=y
CONFIG_UART_NS16550=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_NS16650_EARLYPRINT_DEBUG=n

# Enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Threads stacks
CONFIG_ISR_STACK_SIZE=16384
CONFIG_IDLE_STACK_SIZE=8192
CONFIG_MAIN_STACK_SIZE=8192
CONFIG_SHELL_STACK_SIZE=65536
CONFIG_THREAD_STACK_INFO=y

# make more table for host's pgd
CONFIG_MAX_XLAT_TABLES=16

