# Copyright (c) 2021 Carlo Caione <ccaione@baylibre.com>
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_FVP_BASE_AARCH64
	bool "ARM FVP Base AArch64 Series"
	select ARM64
	select SOC_FAMILY_ARM64
	help
	  Enable support for ARM FVP Base_AArch64 Series
